/* color key */
/* material design */
/* light blue #2 */

/* key #b3e5fc */
/* light #e6ffff */
/* dark #82b3c9 */

/* Grays: */
/* mid-bg:#E1E2E1; */
/* light-bg:#f5f5f6; */

header {
  background-color:#b3e5fc;
  border-top:18px solid #82b3c9;
  height:100%;
  width:100%;
  padding-bottom:.1rem;
}

h1{
  font-weight:normal;
}

.app{
  color:#2e2e2e;
  height:100%;
  width:100%;
}
.app-content{
  /* background-color:#E1E2E1; */
  background-color:#f5f5f6;
}
.app-content > *{
  padding-left:2.5rem;
}

.data-display{
  /* background-color:#E1E2E1; */
  /* background-color:#f5f5f6; */
  padding-top:.5rem;
}
.error{
  color:#ff4c4a;
  font-style:italic;
  font-size:.9rem;
}

.community{
  margin-top:1.5rem;
}
.community p{
  margin:0;
  font-size:.8rem;
}
.community-name{
  font-weight:bold;
  font-size:.9rem;
}